label {
  display:block;
  width:100%;
}

.App {
  width:50%;
  margin:2% auto;
  display:flex;
}

.house {
  width: 700px;
  margin: 5%;
  margin-left: 15%;
  height: 800px;
}

.gryffindor {
  border: 10px solid goldenrod;
  color:white;
  background-color: crimson;
}

.slytherin {
  border: 10px solid silver;
  color: darkblue;
  background-color: darkgreen;
}

.hufflepuff {
  border: 10px solid black;
  color: black;
  background-color: yellow;
}

.ravenclaw {
  border: 10px solid blue;
  color: white;
  background-color: brown;
}

.house h2 {
  text-align:center;
}